<%- include('header')%> <%- include('nav')%>
<div class="mainPage">
  <div class="search_body">
    <label for="exampleInputEmail1"
      ><h2 style="color: #f5f5f5; font-size:3rem; margin-bottom:20px;">Recommend Movies similar to&nbsp;</h2></label
    >
    <div class="form_input">
      <form  action="/" method="POST">
        <input
          type="text"
          class="ratings"
          id="ratings"
          name="searchTerm"
          placeholder="Enter Movie Name"
        />
        <button type="submit" class="btn-form">Submit</button>
      </form>
    </div>
  </div>
</div>
