body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #2c82f1;
}
.nav-header{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}

.navbar-fixed-top{
  top: 0;
  position: fixed;
  z-index: 1030;
  right: 0;
  left: 0;
}

.navbar-toggler{
    margin-right:0.5rem;
    flex:1;
}

.navbar-brand{
    flex:1;
    margin-left: 0.5rem;
}

.navbar-brand{
    font-size: 1rem;
}

.navbar-nav{
    flex:1;
}

.form{
    flex:1;
}

.form-inline{
    display: flex;
}

.form-inline .btn{
    margin-left:0.5rem;
    margin-right:0.5rem;
}

.imageLogo {
  width: 40px;
}

.card-title {
  color: #e50914;
  font-weight: 700;
  background-color:#FFF5EB;

}
.card-title:hover{
  background-color:#f5e6ca;transition: transform 450ms;
  transform: scale(1.03);
}
.Synopsis {
  color: #476072;
  background-color: #F9F9F9;

}
.Synopsis:hover{
  background-color: #FFF5DA;transition: transform 450ms;
  transform: scale(1.03);
}
.card {
  margin-top: 30px;
  margin-left: 10px;
  background-color: #f5f5f5;
  width:92vw;
  min-height:100%;
}
.votes {
  float: left;

}
h6 {
  font-weight: bolder;
  color: #334257;
  margin-left: 10px;
}
.card:hover {
  transition: transform 450ms;
  transform: scale(1.03);
  opacity: 1;
}
.search_body {
  position: absolute;
  top: 30%;
  z-index: 1;
  left: 0;
  right: 0;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;
}
.score {
  text-align: left;
  background-color: #F9F9F9;
}

.score:hover {
  background-color: #fff8d9;transition: transform 450ms;
  transform: scale(1.03);
}
.year {
  text-align: right;
  background-color: #fff1f1;
}
.year:hover {
  background-color: #ffdada;transition: transform 450ms;
  transform: scale(1.03);
}
.card-img-top {
  height: 300px;
  width: 380px;
  display: block;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.posButtons {
  margin-top: 30px;
}

.ratings {
  padding: 10px;
  outline-width: 0;
  height: 43px;
  width: 30%;
  border: none;
  max-width: 600px;
}
.form-group > form > input {
  margin-left: 10px;
}
.buttonx {
  display:flex; margin-top: 100px;
  place-content: center;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  background-color: #e50914;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  padding: 15px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-weight: bold;

 float:center;
}

.buttonx span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


.buttonx:hover span {
  letter-spacing: 1rem;
  padding-left: 15px;
}


.card-text {
  margin-bottom: 50px;
  font-weight: bold;
  color:#4F0E0E;
}
.card-text:hover{
  transition: transform 450ms;
  transform: scale(1.03);
  background-color:#FAF1E6;
}
.btn-form {
  right: 20px;
  margin-left: 10px;
  top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.btn-paggination-disabled{
  margin: 0.2rem;
  font-size: 1rem;
  color: #9f9b9b;

  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.3rem;
  background-color: #750006;
}


.btn-trailer {
  margin-top: auto;
  margin: 0.2rem;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;

  font-weight: 600;
  border: none;

  a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
  }

  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.3rem;
  background-color: rgba(51, 51, 51, 0.5);
  background-color: #e50914;
}
.btn-trailer:hover {
    background-color: #F7DBF0;
    color: #000;
    transition: all 0.2s;transition: transform 450ms;
    transform: scale(1.03);

}
.mainPage {
  margin-top: 240px;
  /* position:relative;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://wallpapercave.com/wp/wp5483697.jpg');
    /* background: url("https://wallpapercave.com/wp/wp5483697.jpg") center no-repeat; */

  /* background-size: cover;

  height: 100vh; */
  /* background: rgba(0, 0, 0, 0.4); */
}
.cards {
  display: grid;
  max-width: 1200px;
  transition: transform 450ms;
  grid-gap: 1rem;
  /* margin-left:-80px; */
  margin-top: 3em;
  margin-bottom: 2.5em;
}
@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .navbar-brand{
      font-size: 1.25rem;
  }
  .card{
      width:28rem;
  }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .card{
      width:28rem;
  }
}

.setup {
  background-color: #e50914;
}
.floatingButtons {
  bottom: 10px;
  position: absolute;
}

.paggination_wrapper {
  display: flex;
  justify-content: center;
  align-content: center
}
.paggination{
  margin-bottom: 10px;
  display: flex;
}

body {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://wallpapercave.com/wp/wp5483697.jpg");
  /* background: url("https://wallpapercave.com/wp/wp5483697.jpg") center no-repeat; */
  background-size: cover;
  place-content: center;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
